.App {
  text-align: center;
}

.form {
  margin: 2rem;
  justify-content: center;
  &__error {
    position: absolute;
    left: 1rem;
    top: 37px;
    font-size: 14px;
    color: tomato;
  }
  &__input {
    position: relative;
  }
}

.ungroup-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 1rem;
  &__item {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    object-fit: cover;
  }
}

.group-list {
  text-align: left;
  list-style-type: none;
  margin-bottom: 1rem;
  &__title {
    padding: .5rem;
    margin: 0;
  }
  &__container {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 1rem;
  }

}